Repository SSoelvsten/adiar, pull requests merged in 2022-06, with the labels that each got.

#346 Approximate 1- and 2-level cuts when zipping BDDs in if_then_else
  src/adiar/bdd/if_then_else.cpp
  test/adiar/bdd/test_if_then_else.cpp
Labels: optimisation, bdd

#354 Add running of build scripts in Makefile
  makefile
Labels: build system

#353 Fix warnings from cnl
  src/adiar/statistics.cpp
Labels: statistics

#355 Fix warning of unused variables in Release
  src/adiar/statistics.cpp
Labels: statistics, warning

#356 Make Reduction Rule 2 comparator cheaper in nondebug
  src/adiar/internal/reduce.h
Labels: optimisation

#359 Fix Reduce priority queue statistics are not printed without ADIAR_STATS_EXTRA
  src/adiar/statistics.cpp
Labels: statistics
